<img src= 'https://innovatics.ai/innovatics.jpeg' width=300/>

# Data Structure & Data types

<img src= 'https://www.tutorialandexample.com/wp-content/uploads/2020/12/image-5.png' width=650/>

Please note, this is not meant to be a comprehensive overview of Python or programming in general, if you have no programming experience, you should probably take access the course suplement ebook at BBDS Dropbox

This notebook will just go through the basic topics in order and later explore in more details the 5 most Python used libraries:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets

## 2. Strings

String usage abounds in just about all types of applications. A string consists of a sequence of characters, which includes letters, numbers, punctuation marks and spaces. To represent strings, you can use a single quote, double quotes or triple quotes.

<img src= 'https://csharpcorner-mindcrackerinc.netdna-ssl.com/article/strings-in-python/Images/StringOperators.png' width=650/ alt="strings"  />

In [2]:
# Employ single quotation marks for describing a string
"Hello World! - this is Moroccan's class"

"Hello World! - this is Moroccan's class"

In [ ]:
# Employ double quotation marks for describing a string
"Hello World!"

In [ ]:
'''This photo released by the U.S. Navy shows the Iranian Revolutionary Guard ship Shahid Bazair, left, towing a U.S. Navy Saildrone Explorer in the Persian Gulf on Tuesday, Aug. 30, 2022. The U.S. Navy's Mideast-based 5th Fleet said Tuesday that Iran's paramilitary Revolutionary Guard seized and later let go of a U.S. sea drone in the Persian Gulf. Iran did not immediately acknowledge the incident, though it comes amid heightened tensions over Tehran's'''

In [3]:
# Digitals and spaces in a string
'3 6 9 2 6 8'

'3 6 9 2 6 8'

In [4]:
# Specific characters in a string
'@#5_]*$%^&'

'@#5_]*$%^&'

In [ ]:
# printing a string
print('Hello World!')

In [5]:
# Assigning a string to a variable 'message'
message = 'Hello World!'
print(message)
message

Hello World!

'Hello World!'

### Indexing of a string

In [19]:
# printing the first element in a string

message = 'Hello World!'

print(message[0])

H

In [21]:
print(message[-12])

H

In [15]:
len(message)

12

In [22]:
# Printing the element on index 8 in a string
print(message[12])

IndexError: string index out of range

In [23]:
# lenght of a string includign spaces

len(message)

12

In [ ]:
# Printing the last element in a string
print(message[11])

# Another comment writing type is as follows using triple quotes.

"""
Although the length of the string is 12, since the indexing in Python starts with 0, 
the number of the last element is therefore 11.
"""

### Negative indexing of a string

In [ ]:
# printing the last element of a string
print(message)
message[-12]
message[0]

In [ ]:
# printing the first element of a string

message[-12]

"""
Since the negative indexing starts with -1, in this case, the negative index number 
of the first element is equal to -12.
"""

In [ ]:
print(len(message))
len(message)

In [ ]:
len('Hello World!')

### Slicing of a string

In [26]:
# Slicing on the variable 'message' with only index 0 to index 5
message[0:10]

'Hello Worl'

In [ ]:
message[0]

In [27]:
# Slicing on the variable 'message' with only index 6 to index 12
message[6:12]

'World!'

### Striding in a string

In [ ]:
message

In [ ]:
# to select every second element in the variable 'message'

message[::3]

In [ ]:
# corporation of slicing and striding
# get every second element in range from index 0 to index 6

message[0:6:2]

### Concatenate of strings

In [49]:
message = 'How many people are living on the earth?'

In [50]:
len(message)

40

In [ ]:
message = 'Hello World!'
question = ' How many people are living on the earth?'

statement = message + question
statement

In [ ]:
# printing a string for 4 times
4*" Hello World!"

### Escape sequences

In [ ]:
data = np.read_csv('C:\Users\medwa\OneDrive\Desktop')

In [ ]:
# New line escape sequence
print('Hello World! \nHow many people are living on the earth?')

In [ ]:
# Tab escape sequence
print('Hello World! \tHow many people are living on the earth?')

In [ ]:
# back slash in a string
print('Hello World! \\ How many people are living on the earth?')

# r will say python that a string will be show as a raw string
print(r'Hello World! \ How many people are living on the earth?')

### String operations

In [33]:
message = 'hello python!'
print('Before uppercase: ', message )

# # convert uppercase the elements in a string
message_upper = message.upper()
print('After uppercase: ', message_upper)

# # convert lowercase the elements in a string
message_lower = message.lower()
print('Again lowercase: ', message_lower)

# # convert first letter of string to uppercase
message_title = message.title()
print('The first element of the string is uppercase: ', message_title)

Before uppercase:  hello python!
After uppercase:  HELLO PYTHON!
Again lowercase:  hello python!
The first element of the string is uppercase:  Hello Python!

In [37]:
# replace() method in a string
message = 'Hello Python!'
print(message)
message_hi = message.replace('Hello', 'Hi')
print(message_hi)
message_python = message.replace('Python', 'World')
print(message_hi)
print(message_python)

Hello Python!
Hi Python!
Hi Python!
Hello World!

In [39]:
# find() method application in a string
message = 'Hello World!'
print(message.find('W'))

# the output is the index number of the first element of the substring

6

In [ ]:
para = '''WASHINGTON — As the congressional midterms approach, President Joe Biden and Democratic candidates across the country are seeking to blunt Republican attacks, echoed in conservative media, that they have not focused on the issue of crime.

Elevated crime rates continue to pose a conundrum for elected leaders, law enforcement officials and prosecutors across the country, in Republican and Democratic jurisdictions alike. The rise in violent crime that began around the start of the coronavirus pandemic has seemingly become an intractable problem, even as institutions like schools have reopened.

Speaking in Wilkes-Barre, Pa., on Tuesday, President Biden touted his proposal for addressing crime, highlighting his long standing support for police officers, but also arguing that to be effective, officers needed better training and deeper connections to the communities they serve. He also called for stricter gun control law.'''

In [ ]:
para2= para.title()
#para2.replace('Mo Medwani', 'Law')

In [ ]:
para2 = para.capitalize()
para2

In [ ]:
# find() method application to obtain a  substring in a string
para2.find('Brook Adams')

In [ ]:
# if cannot find the substring in a string, the output is -1.
message.find('cndsjnd')

In [ ]:
text = 'Jean-Paul Sartre somewhere observed that we each of us make our own hell out of the people around us. Had Jean-Paul known Nancy, he may have noted that at least one man, someday, might get very lucky, and make his own heaven out of one of the people around him. She will be his morning and his evening star, shining with the brightest and the softest light in his heaven. She will be the end of his wanderings, and their love will arouse the daffodils in the spring to follow the crocuses and precede the irises. Their faith in one another will be deeper than time and their eternal spirit will be seamless once again.'
text
# find the first index of the substring 'Nancy'
text.find('India')

In [ ]:
india ='''Looking for a cheap flight? 25% of our users found tickets from Atlanta to India for the following prices or less: to Ahmedabad $578 one-way - $1,246 round-trip, to Mumbai $486 one-way - $1,044 round-trip, to New Delhi $482 one-way - $1,035 round-trip
Book at least 3 weeks before departure in order to get a below-average price.
High season is considered to be June and July. The cheapest month to fly to India is September.
Morning departure is around 9% cheaper than an evening flight, on average*.
One of the quickest and most convenient ways to travel from downtown Atlanta to Atlanta Hartsfield-Jackson International Airport (ATL) is aboard buses offered by Greyhound USA that make the trip in around 15min for a cost of about $10.50.
If you are driving yourself to Atlanta Hartsfield-Jackson International Airport for your flight to India, a good choice for parking is the International Park Ride that offers covered parking at a reasonable daily rate. Included in the price is a complimentary shuttle service that can take you to the terminal in about 3min.'''

In [ ]:
india.find('India')
india_morocco = india.replace( "India", "Morocco")
india_morocco

In [ ]:
# replace the substring 'Nancy' with 'Nancy Lier Cosgrove Mullis'
text.replace('Nancy', 'Nancy Lier Cosgrove Mullis')

In [ ]:
# convet the text to lower case
text.lower()

In [ ]:
# convert the first letter of the text to capital letter
text.capitalize()

In [ ]:
# casefold() method returns a string where all the characters are in lower case
text.casefold()

In [ ]:
# center() method will center align the string, using a specified character (space is the default) as the fill character.
message = 'Hallo Leute!'
message.center(50, '-')

In [ ]:
# count() method returns the number of elements with the specified value
para2.count('Law')

In [ ]:
# format() method
"""
The format() method formats the specified value(s) and insert them inside the string's placeholder. 
The placeholder is defined using curly brackets: {}.
"""

txt = "Hello {word}"
print(txt.format(word = 'World!'))

message1 = 'Hi, My name is {} and I am {} years old.'
print(message1.format('Bob', 36))

message2 = 'Hi, My name is {name} and I am {number} years old.'
print(message2.format(name ='Bob', number = 36))

message3 = 'Hi, My name is {0} and I am {1} years old.'
print(message3.format('Bob', 36))

### Reading Input

In [ ]:
a = input()

In [ ]:
a.upper()

The input function always returns a string, which is computer science terminology for a sequence of characters. If the value being read is a person’s name, the title of a book, or the name of a street, then storing the value as a string is appropriate. But if the value is numeric, such as an age, a temperature, or the cost of a meal at a restaurant, then the string entered by the user is normally converted to a number. The programmer must decide whether the result of the conversion should be an integer or a floating-point number (a number that can include digits to the right of the decimal point). Conversion to an integer is performed by calling the int function while conversion to a floating-point number is performed by calling the float function. It is common to call the int and float functions in the same assignment statement that reads an input value from the user. For example, the following statements read a customer’s name, the quantity of an item that they would like to purchase, and the item’s price. Each of these values is stored in its own variable with an assignment statement. The name is stored as a string, the quantity is stored as an integer, and the price is stored as a floating-point number.

In [44]:
name = input("Enter your name: ")
quantity = int(input("How many items? "))
price = float(input("Cost per item? "))

Enter your name: Mo Medwani
How many items? 100
Cost per item? 5.0

In [45]:
total = quantity * price
total

500.0