<img src= 'https://innovatics.ai/innovatics.jpeg' width=300/>

## 5. Sets in Python

Python also includes a data type for sets. A set is an unordered collection with no duplicate items. Primary uses of sets include membership testing and eliminating duplicate entries. Sets also support mathematical operations, such as union, intersection, difference, and symmetric difference.
Curly braces **{ }** or the **set()** function can be used to create sets with a comma-separated list of items inside curly **brackets { }**. Note: to create an empty set you have to use set() and not **{ }** as the latter creates an empty dictionary.

* Set is one of 4 built-in data types in Python used to store collections of data including List, Tuple, and Dictionary
* Sets are unordered, but you can remove items and add new items.
* Set elements are unique. Duplicate elements are not allowed.
* A set itself may be modified, but the elements contained in the set must be of an immutable type.
* Sets are used to store multiple items in a single variable.
* You can denote a set with a pair of curly brackets **{}**.

**<span style='color:RED'>
Sets are mutable. Indexing is not possible in sets, since set items are unordered. You cannot access or change an item of the set using indexing or slicing.</span>**

<img src="https://www.learnbyexample.org/wp-content/uploads/python/Python-Set-Operatioons.png" width="500" alt="sets"  />

In [1]:
# The empty set of curly braces denotes the empty dictionary, not empty set
x = {}
print(type(x))

<class 'dict'>

In [2]:
# To take a set without elements, use set() function without any items
y = set()
print(type(y))

<class 'set'>

In [4]:
# Take a set
set1 = {'Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022}
type(set1)

set

### Converting list to set

In [3]:
# A list can convert to a set
# Take a list
nlis = ['Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022]
print(nlis)

# # Convert the list to a set
set2 = set(nlis)
print(set2)

['Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022]
{False, 1.618, True, 3.14, 2022, 'Hello Python!', 'Hello World!'}

### Set operations

In [10]:
# Take a set
set3 = set(['Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022])
set3

{1.618, 2022, 3.14, False, 'Hello Python!', 'Hello World!', True}

#### **add()** function

To add an element into a set, we use the function **add()**. If the same element is added to the set, nothing will happen because the set accepts no duplicates.

In [11]:
# Addition of an element to a set
set3 = set(['Hello Python!', 3.14, 1.618, 'Hello World!', 3.14, 1.618, True, False, 2022])
set3.add('Hi, Python!')
set3

{1.618,
 2022,
 3.14,
 False,
 'Hello Python!',
 'Hello World!',
 'Hi, Python!',
 True}

In [12]:
# Addition of the same element
set3.add('Hi, Python!')
set3

# As you see that there is only one from the added element 'Hi, Python!'

{1.618,
 2022,
 3.14,
 False,
 'Hello Python!',
 'Hello World!',
 'Hi, Python!',
 True}

#### **update()** function
To add multiple elements into the set

In [23]:
x_set = {6,7,8,9}
print(x_set)
x_set.update({3,4,5})
print(x_set)

{8, 9, 6, 7}

#### **remove()** function

To **remove** an element from the set

In [24]:
set3.remove('Hello Python!')
set3

{1.618, 2022, 3.14, False, 'Hello World!', 'Hi, Python!', True}

#### **discard()** function
It leaves the set unchanged if the element to be deleted is not available in the set.

In [26]:
set3.discard(3.14)
set3

{1.618, 2022, False, 'Hello World!', 'Hi, Python!', True}

In [27]:
# To verify if the element is in the set
1.618 in set3

True

### Logic operations in Sets

In [28]:
# Take two sets
set4 = set(['Hello Python!', 3.14, 1.618, 'Hello World!'])
set5 = set([3.14, 1.618, True, False, 2022])

# Printing two sets
set4, set5

({1.618, 3.14, 'Hello Python!', 'Hello World!'},
 {False, True, 1.618, 3.14, 2022})

#### To find the intersect of two sets using **&**

In [29]:
intersection = set4 & set5
intersection

{1.618, 3.14}

#### To find the intersect of two sets, use **intersection()** function

In [30]:
set4.intersection(set5)         # The output is the same as that of above

{1.618, 3.14}

#### **difference()** function
To find the difference between two sets

In [34]:
print(set4.difference(set5))

print(set5.difference(set4))

# # The same process can make using subtraction operator as follows:
# print(set4-set5)
# print(set5-set4)

{'Hello Python!', 'Hello World!'}
{False, True, 2022}

#### Set comparison

In [ ]:
print(set4>set5)
print(set5>set4)
print(set4==set5)

#### **union()** function
it corresponds to all the elements in both sets

In [ ]:
set4.union(set5)

#### **issuperset()** and **issubset()** functions
To control if a set is a superset or a subset of another set

In [ ]:
set(set4).issuperset(set5)

In [ ]:
set(set4).issubset(set5)

In [ ]:
print(set([3.14, 1.618]).issubset(set5))
print(set([3.14, 1.618]).issubset(set4))
print(set4.issuperset([3.14, 1.618]))
print(set5.issuperset([3.14, 1.618]))

#### **min(), max() and sum()** functions

In [ ]:
A = [1,1,2,2,3,3,4,4,5,5]       # Take a list
B = {1,1,2,2,3,3,4,4,5,5}       # Take a set

print('The minimum number of A is', min(A))
print('The minimum number of B is', min(B))
print('The maximum number of A is', max(A))
print('The maximum number of B is', max(B))
print('The sum of A is', sum(A))
print('The sum of B is', sum(B))

# As you see that the sum of A and B is different. Because the set takes no duplicate.

#### No mutable sequence in a set
A set can not have mutable elements such as list or dictionary in it. If any, it returns error as follows:

In [ ]:
set6 = {'Python', 1,2,3, [1,2,3]}
set6

#### **index()** function
This function does not work in set since the set is unordered collection

In [ ]:
set7 = {1,2,3,4}
set7[1]

#### Copy the set

In [ ]:
set8 = {1,3,5,7,9}
print(set8)
set9 = set8
print(set9)
set8.add(11)
print(set8)
print(set9)

"""
As you see that although the number 8 is added into the set 'set8', the added number
is also added into the set 'set9'
"""

#### **copy()** function
it returns a shallow copy of the original set.

In [ ]:
set8 = {1,3,5,7,9}
print(set8)
set9 = set8.copy()
print(set9)
set8.add(11)
print(set8)
print(set9)

"""
When this function is used, the original set stays unmodified.
A new copy stored in another set of memory locations is created.
The change made in one copy won't reflect in another.
"""

#### **clear()** function
it removes all elements in the set and then do the set empty.

In [36]:
x  = {0, 1,1,2,3,5,8,13, 21,34}
print( x)
x.clear()
print(x)

{0, 1, 2, 3, 34, 5, 8, 13, 21}
set()

#### **pop()** function
It removes and returns an arbitrary set element.

In [8]:
x  = {0, 1,1,2,3,5,8,13,21,34}
print(x)
x.pop()
print(x)

{0, 1, 2, 3, 34, 5, 8, 13, 21}
{1, 2, 3, 34, 5, 8, 13, 21}