<img src= 'https://innovatics.ai/innovatics.jpeg' width=300/>

## 8. Loops in Python

* A **for** loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).
* This is less like the **for** keyword in other programming languages, and works more like an iterator method as found in other object-orientated programming languages.
* With the **for** loop we can execute a set of statements, once for each item in a list, tuple, set etc.
* The **for** loop does not require an indexing variable to set beforehand.
* With the **while** loop we can execute a set of statements as long as a condition is true.
* Note: remember to increment **i**, or else the loop will continue forever.
* The **while** loop requires relevant variables to be ready, in this example we need to define an indexing variable, i, which we set to 1.

### **range()** function

- It is helpful to think of the range object as an ordered list.
- To loop through a set of code a specified number of times, we can use the range() function,
- The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [5]:
# Take a range() function
print(range(5))
print(range(10))

range(0, 5)
range(0, 10)

### **for** loop

The **for** loop enables you to execute a code block multiple times.

<img src="https://www.learnbyexample.org/wp-content/uploads/python/Python-for-Loop-Syntax.png" width="500" alt="for_loop"  />

In [2]:
# Take an example
# Diectly accessing to the elements in the list

years = [2005, 2006, 2007, 2008, 2009, 2010]

for i in years:
    print(i)

2005
2006
2007
2008
2009
2010

In [3]:
years

[2005, 2006, 2007, 2008, 2009, 2010]

In [4]:
# Again, directly accessing to the elements in the list
years = [2005, 2006, 2007, 2008, 2009, 2010]

for var in years:
    print(var)

2005
2006
2007
2008
2009
2010

In [8]:
# Take an example
years = [2005, 2006, 2007, 2008, 2009, 2010]

for i in range(len(years)):
    print(years[i])

2005
2006
2007
2008
2009
2010

In [6]:
range(len(years))

range(0, 6)

In [19]:
range(2, 12)

range(2, 12)

In [18]:
# Another for loop example
for i in range(2, 12):
    print(i)

2
3
4
5
6
7
8
9
10
11

In [13]:
range(2, 12)

range(2, 12)

In [11]:
# Striding in for loop
for i in range(2, 12, 3):
    print(i)

2
5
8
11

In [20]:
# Changing the elements in the list
languages = ['Java', 'JavaScript', 'C', 'C++', 'PHP']

for i in range(len(languages)):
    print('Before language', i, 'is', languages[i])
    languages[i] = 'Python'
    print('After language', i, 'is', languages[i])

Before language 0 is Java
After language 0 is Python
Before language 1 is JavaScript
After language 1 is Python
Before language 2 is C
After language 2 is Python
Before language 3 is C++
After language 3 is Python
Before language 4 is PHP
After language 4 is Python

In [21]:
# Enumeration of the elements in the list
languages = ['Python', 'Java', 'JavaScript', 'C', 'C++', 'PHP']

for index, language in enumerate(languages):
    print(index, language)

0 Python
1 Java
2 JavaScript
3 C
4 C++
5 PHP

In [22]:
range(-3, 7)

range(-3, 7)

In [44]:
range(2,4)

range(2, 4)

In [43]:
# Take the numbers between -3 and 6 using for loop
# Use range() function

for i in range(-3, 7):
    print(i)

-3
-2
-1
0
1
2
3
4
5
6

In [25]:
# Take a list and print the elements using for loop
languages = ['Python', 'Java', 'JavaScript', 'C', 'C++', 'PHP']

for i in range(len(languages)):
    print(i, languages[])

0 Python
1 Java
2 JavaScript
3 C
4 C++
5 PHP

In [26]:
number1 = int(input('Enter a number:'))
number2 = int(input('Enter a number:'))
print(f'The entered numbers are {number1} and {number2}.')
for i in range(0, 11):
    print(('%d x %d = %d' %(number1, i, number1*i)), ',', ('%d x %d = %d' %(number2, i, number2*i )))

Enter a number:99
Enter a number:89
The entered numbers are 99 and 89.
99 x 0 = 0 , 89 x 0 = 0
99 x 1 = 99 , 89 x 1 = 89
99 x 2 = 198 , 89 x 2 = 178
99 x 3 = 297 , 89 x 3 = 267
99 x 4 = 396 , 89 x 4 = 356
99 x 5 = 495 , 89 x 5 = 445
99 x 6 = 594 , 89 x 6 = 534
99 x 7 = 693 , 89 x 7 = 623
99 x 8 = 792 , 89 x 8 = 712
99 x 9 = 891 , 89 x 9 = 801
99 x 10 = 990 , 89 x 10 = 890

#### Addition and average calculation in for loop

In [ ]:
# Take a list
nlis = [0.577, 2.718, 3.14, 1.618, 1729, 6, 37]

# Write a for loop for addition
count = 0
for i in nlis:
    count+=i
print('The total value of the numbers in the list is', count)

# Calculate the average using len() function
print('The avearge value of the numbers in the list is', count/len(nlis))

### **for-else** statement

In [32]:
for i in range(1,6):
    print(i, end=", ")
else:
    print('These are numbers from 1 to 5.')

1, 2, 3, 4, 5, These are numbers from 1 to 5.

### **nested for** loop

In [ ]:
num = int(input('Enter a number:'))

print(f'The entered the number is {num}.')
i, j = 0, 0
for i in range(0, num):
    print()
    for j in range(0, i+1):
        print('+', end='')

### **continue** in **for** loop

In [ ]:
# Take a list
nlis = [1,2,4,5,6,7,8,9,10,11,12,13,14]
for i in nlis:
    if i == 5:
        continue
    print(i)
    
"""
You see that the output includes the numbers without 5. 
The continue function jumps when it meets with the reference.
"""

### **break** in **for** loop

In [ ]:
# Take a list
nlis = [1,2,4,5,6,7,8,9,10,11,12,13,14]
for i in nlis:
    if i == 5:
        break
    print(i)
    
"""
You see that the output includes the numbers before 5. 
The break function terminate the loop when it meets with the reference.
"""

### **while** loop
The **while** loop exists as a tool for repeated execution based on a condition. The code block will keep being executed until the given logical condition returns a *False* boolean value.

<img src="https://www.learnbyexample.org/wp-content/uploads/python/Python-while-Loop-Syntax.png" width="500" alt="while_loop"  />

In [33]:
# Take an example
i = 22

while i<27:
    print(i)
    i+=1 ###  i=i+1

22
23
24
25
26

In [37]:
#Take an example
i = 22
while i>=17:
    print(i)
    i-=1
    
print("Done!")

22
21
20
19
18
17
Done!

In [42]:
# Take an example
years = [2005, 2006, 2007, 2008, 2009, 2010]

index = 0

year = years[0]
year

while year !=2010:
    print(year)
    index+=1
    year = years[index]
print('It gives us only', index, 'repetititons to get out of loop')

2005
2006
2007
2008
2009
It gives us only 5 repetititons to get out of loop

In [ ]:
# Print the movie ratings gretater than 6.
movie_rating = [8.0, 7.5, 5.4, 9.1, 6.3, 6.5, 2.1, 4.8, 3.3]

index = 0
rating = movie_rating[0]

while rating>=6:
    print(rating)
    index += 1
    rating = movie_rating[index]
print('There is only', index, 'movie rating, because the loop stops when it meets with the number lower than 6.')

In [ ]:
# Print the movie ratings gretater than 6.
movie_rating = [8.0, 7.5, 5.4, 9.1, 6.3, 6.5, 2.1, 4.8, 3.3]

index = 0
for i in range(len(movie_rating)):
    if movie_rating[i] >= 6:
        index += 1
        print(index, movie_rating[i])
print('There is only', index, 'films gretater than movie rating 6')

In [ ]:
# Adding the element in a list to a new list 
fruits = ['banana', 'apple', 'banana', 'orange', 'kiwi', 'banana', 'Cherry', 'Grapes']

new_fruits = []

index = 0
while fruits[index] == 'banana':
    new_fruits.append(fruits[index])
    index += 1
print(new_fruits)

In [ ]:
number1 = int(input('Enter a number:'))
number2 = int(input('Enter a number:'))
print(f'The entered numbers are {number1} and {number2}.')

i = 0
while i<=10:
    print(('%d x %d = %d' %(number1, i, number1*i)), ',', ('%d x %d = %d' %(number2, i, number2*i )))
    i+=1

### **while-else** statement

In [ ]:
index = 0
while index <=5:
    print(index, end=' ')
    index += 1
else:
    print('It gives us the numbers between 0 and 5.')

### **continue** in **while** loop

In [ ]:
i = 0

while i<=5:
    print(i)
    i+=1
    if i == 3:
        continue

### **break** in **while** loop

In [ ]:
i = 0

while i<=5:
    print(i)
    i+=1
    if i == 3:
        break